Write a Python Program and perform the following operations ?

I.	Create a List {1225, 4986, 6789, 7890, 2345, 6783, 0987, 1234, 8765, 3456}

In [8]:
lists = [1225, 4986, 6789, 7890, 2345, 6783, 987, 1234, 8765, 3456]

II.	Iterate using a for loop

In [44]:
for lst in lists:
    print(lst)

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

III.	Iterate using for loop and range

In [13]:
for i in range(len(lists)):
    print(lists[i])

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

IV.	List Comprehension

In [16]:
squares = [lst**2 for lst in lists]
print("Squares:", squares)

Squares: [1500625, 24860196, 46090521, 62252100, 5499025, 46009089, 974169, 1522756, 76825225, 11943936]

V.	Enumerate

In [19]:
for index, lst in enumerate(lists):
    print(f"Index {index}, Value {lst}")

Index 0, Value 1225
Index 1, Value 4986
Index 2, Value 6789
Index 3, Value 7890
Index 4, Value 2345
Index 5, Value 6783
Index 6, Value 987
Index 7, Value 1234
Index 8, Value 8765
Index 9, Value 3456

VI.	Iter function and next function

In [42]:
lst_iter = iter(lists)
while True:
    try:
        print(next(lst_iter))
    except StopIteration:
        break

1225
4986
6789
7890
2345
6783
987
1234
8765
3456

VII.	Map function

In [7]:
def square(lists):
    return lists ** 2
lists = [1225, 4986, 6789, 7890, 2345, 6783, 987, 1234, 8765, 3456]
squared_numbers = list(map(square, lists))
print(squared_numbers)

[1500625, 24860196, 46090521, 62252100, 5499025, 46009089, 974169, 1522756, 76825225, 11943936]

VIII.	Using zip

In [11]:
list_1 = [1225, 4986, 6789, 7890, 2345]
list_2 = [6783, 987, 1234, 8765, 3456]

zipped = list(zip(list_1, list_2))
print(zipped)

[(1225, 6783), (4986, 987), (6789, 1234), (7890, 8765), (2345, 3456)]

IX.	Using NumPy Module

In [67]:
import numpy as np

np_lists = np.array(lists)
print("array:", np_lists)

array: [1225 4986 6789 7890 2345 6783  987 1234 8765 3456]